@{
    ViewData["Title"] = "Home Page";
}
 @section Scripts{
    <environment include="Development">
        <script type="module" vite-src="~/src/home.ts" asp-append-version="true" defer></script>
    </environment>
 }
<a href="/home/testing" style="color:white">
Another page >
</a>