@{
    ViewData["Title"] = "Privacy Policy";
}

@section Scripts {
  <environment include="Development">
    <script type="module" vite-src="~/src/privacy.ts" asp-append-version="true" defer></script>
  </environment>
  <environment include="Production">
    <script type="module" vite-src="~/src/privacy.js" asp-append-version="true" defer></script>
  </environment>
}
<h1>@ViewData["Title"]</h1>

<a href="/" style="color:white">
home page >
</a>


<div id="swapit">
    <div class="slot top" data-swapy-slot="a">
        <div class="item item-a" data-swapy-item="a">
          <div>A</div>
        </div>
      </div>

      <div class="middle">
        <div class="slot middle-left" data-swapy-slot="b">
          <div class="item item-b" data-swapy-item="b">
            @* <div class="handle" data-swapy-handle></div> *@
            <div>B</div>
          </div>
        </div>
        <div class="slot " style="min-width: 250px;" data-swapy-slot="c"></div>
      </div>

      <div class="slot bottom" data-swapy-slot="d">
        <div class="item item-d" data-swapy-item="d">
          <div>D</div>
        </div>

</div>
